<div class="p-5">
    <div class="loader" *ngIf="showLoadingBanner"></div>
    <div [class.loadingBg]="showLoadingBanner"  *ngIf="isLoaded">
        <ng-container *ngIf="products && products.length > 0; else showNoSearchFoundMsg">
            <app-product-list [products]="products" [paging]="paging"></app-product-list>
            <div class="pagination d-flex align-item-center">
                <pagination-controls id="product" (pageChange)="pageChanged($event)"
                    (pageBoundsCorrection)="pageChanged($event)" [maxSize]="9" [directionLinks]="true" [autoHide]=true
                    [responsive]='true' previousLabel="Previous" nextLabel="Next"
                    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </div>
        </ng-container>
        <ng-template #showNoSearchFoundMsg>
            <div class="defalt_banner">
                <div class="col-12 d-block">
                    <div class="default_msg_container">
                        <img src="../../../assets/images/no_search_found.png" class="img-fluid">

                        <div class="default_primary_msg">
                            Sorry, no results found!
                        </div>
                        <div class="default_seondary_msg">
                            'Please check the spelling or try searching for something else'
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>